{% extends "base.html" %}

	{% block content %}
	<div class="form-group">

		<form class = "text-center mx-auto" method="post" action="" enctype="multipart/form-data" >
		{% csrf_token %}
		{{form.as_p}}
		<input type="submit" value="Upload">
		</form>
	</div>
	{% endblock content %}



<!--
<!DOCTYPE html>
<html>
    <head>
        <title>Django - Video File Upload and Display</title>
    </head>
    <body>
		<div style="width: 500px; margin: auto;">
			<fieldset name="Video File Upload and Display">
				{% if msg %} {% autoescape off %} {{ msg }} {% endautoescape %} {% endif %}
				 {% url 'upload_display_video' %} fdhdhfdhdhfdfhdhfdh
				<form method="post" action="" enctype="multipart/form-data">
					{% csrf_token %}
					<dl>

						<p>
						<label>Name
						<input type="text" name="customer_name" required>
						</label>
						</p>

						<p>
						<label>Phone
						<input type="tel" name="phone_number">
						</label>
						</p>

						<p>
						<label>Email
						<input type="email" name="email_address">
						</label>
					</p>

					<p>
							<label>Browse and select a video file</label>&nbsp;&nbsp;
							<input type="file" name="file" autocomplete="off" required>
					</p>

					</dl>
					<p>
						<input type="submit" value="Upload and Display">
					</p>


				</form>
			</fieldset>

			{% if filename %}
				<div style="margin: 10px auto;">
					<video autoplay="autoplay" controls="controls" preload="preload">
						<source src="{{ MEDIA_URL }}/{{ filename }}" type="video/mp4"></source>
					</video>
				</div>
			{% endif %}
		</div>
    </body>
</html>
-->