.center-div{

    display: flex;
    justify-content: center;
}

.form{
    display: inline-block;
    margin:50px;
    width:50%;
    padding:5px;
    background-color:pink;

}

.item{
    text-align:center;
}

.button{
    background-color:#710193;
    text-decoration:none;
    text-align:center;
}

a{
    text-decoration:none;
}
